<% if @properties.present? %>

  <div style='display:flex; justify-content:center; padding:20px; max-width:1200px; width:100%; margin:0 auto;'>

    <div width='100%'>

      <div style="display: grid;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            gap: 24px;
            justify-items: center;
            max-width: 1100px;
            margin: 0 auto;">

        <% @properties.each do |property| %>

          <div class='card mb-3 shadow-sm rounded' style='width:100%; max-width:440px;'>

              <%= link_to property_path(property), class: "text-decoration-none text-reset" do %>

              <%# https://uikit.lewagon.com/documentation#card_category %>
              <div class="card-img-top position-relative" style="height:260px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= property.photo.attached? ? cl_image_path(property.photo.key, height: 300, crop: :fill) : asset_path("default-placeholder.png") %>'); background-size:cover; background-position:center;">
                <div class="position-absolute bottom-0 start-0 p-3 text-white">
                  <h5 class="mb-1 fw-bold" style='font-size:1.25rem;'><%= property.name %></h5>
                  <p class="mb-0 small"><%= property.address %></p>
                </div>
              </div>

              <% end %>

              <div class='card-body' style='min-height:300px;'>

              <p class="fw-medium mb-2" style='font-size:0.875rem; letter-spacing:0.5px; color:#757575;'>Documents</p>
              <% if property.documents.attached? %>
                <div style='display:flex; flex-direction:column; gap:8px;' >
                  <% property.documents.each do |document| %>
                    <div class="small">
                      <%= link_to document.filename.to_s, url_for(document), target: "_blank", class: "text-decoration-none text-primary" %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <p class="small text-muted">No documents uploaded yet.</p>
              <% end %>

            </div>

            <div class='card-footer bg-white border-top-0' style='display:flex; justify-content:center; align-items:center; padding:16px;'>

              <%= button_to property_chats_path(property), class: 'btn btn-sm btn-primary rounded-pill px-3' do %>
                <i class="fas fa-wand-magic-sparkles me-1"></i> Launch AI Assistant
              <% end %>
            </div>

          </div>
        <% end %>
      </div>

    </div>

  </div>

<% else %>
  <div style='display:flex; justify-content:center;align-items:center; height:80vh;'>
    <div style='text-align:center;'>
      <h1 class='mb-4' >Welcome, let's get started </h1>
      <%= link_to "Add your first property", new_property_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
