<%= turbo_stream_from @chat %>

<div style='position:absolute; right: 20px; top: 0;'>
  <%= link_to "â† #{@chat.property.name}", property_path(@chat.property) %>
</div>

<div style='display:flex; justify-content:center'>
  <div style='max-width:800px; padding:20px;'>
    <h1 id="chat_title" class='mb-4'>
      <%= @chat.title %>
    </h1>

    <div id="messages">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>

    <div id="new_message_container">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
