<!DOCTYPE html>
<html>
  <head>
    <title>CoownersAi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <!-- Google Fonts (keep as is, or move to layout if preferred) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container-fluid">
      <div class="row" data-controller="toggle">
        <nav class="col-md-2 sidebar" data-toggle-target="hideable" style='padding:0 !important;'>

            <%= render "shared/sidenav", properties: @properties %>

        </nav>
        <div class="col-md-10 my-4" style='position:relative;'>
          <%= render "shared/flashes" %>

          <%= link_to "#", class: "d-none nav-link text-dark", data: {action: "click->toggle#call", toggle_target: "show"} do %>
            <i class="fa-regular fa-square-caret-right"></i>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
